.chart {
  margin-top: 20px;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgb(169, 203, 226);
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}
